<html>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>  
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
<style> 
@import url(http://fonts.googleapis.com/css?family=Roboto:400);
body {
  background-color:#fff;
  -webkit-font-smoothing: antialiased;
  font: normal 14px Roboto,arial,sans-serif;
}
.container {

	    padding: 15px;
	    position: fixed;
	}

	.form-login {
	    background-color: #EDEDED;
	    padding-top: 40px;
	    padding-bottom: 40px;
	    padding-left: 30px;
	    padding-right: 30px;
	    border-radius: 15px;
	    border-width: 5px;
	    box-shadow:0 1px 0 #cfcfcf;
	}
</style>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

</head>

<body>
<div class="container">

<div class="row">
<div class="col-md-offset-5 col-md-4">
<form role="form" class="form-login" ng-app="myApp" name="myForm">
<div class="text-center">
<h2>SIGN IN</h2>
<hr>
</div>
      <div class="form-group">
        <label for="email">Email address</label>
        <input type="email" class="form-control" name="email" placeholder="Enter email"  ng-model="email" required />
      </div>
      <div class="form-group">
        <label for="password">Password</label>
        <input type="password" class="form-control" ng-model="password" name="password" placeholder="Password" required/>
      </div>
      <button type="submit" id="myButton" class="btn btn-info btn-md">Submit</button>
    </form>
<script type="text/javascript">
/**ADD THIS IN THE BUTTON disabled="myForm.email.$dirty && myForm.email.$invalid && myForm.password.$invalid"
**/
    document.getElementById("myButton").onclick = function () {
        location.href = "upload.html";
    };
</script>

</div>
</div>
</div>

</body>
</html>
